doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Portfolio Website for Dylan Wijnen')
        meta(name='author', content='Dylan Wijnen')

        title Dylan Wijnen - Portfolio

        // Favicon
        link(rel='icon', type='image/x-icon', href='/assets/favicon/favicon.ico')
        link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png")
        link(rel="manifest" href="/assets/favicon/site.webmanifest")

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    span Dylan Wijnen
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#portfolio') Portfolio
                        li.nav-item
                            a.nav-link(href='#about-me') About Me
                        li.nav-item
                            a.nav-link(href='/resume', target="_blank") Resume
        // Masthead
        //- header.masthead
        //-     .container
        //-         .masthead-subheading Hi My Name is Dylan!
        //-         .masthead-heading.text-uppercase It's Nice To Meet You
        //-         a.btn.btn-primary.btn-xl.text-uppercase(href='#about') Show me more

        // Portfolio Grid
        section#portfolio.page-section.bg-dark
            .container
                .text-center
                    h2.section-heading.text-uppercase Portfolio
                    h3.section-subheading.text-muted Recent Projects &amp; Work
                .row.justify-content-center
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio Rocket League
                        .portfolio-item.animate__animated.animate__slow.animate__fadeIn
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolio-modal-rocketleague')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-link.fa-3x
                                img.img-fluid(src='assets/img/portfolio/rl-intern.jpg', alt='Rocket League Internship')
                            .portfolio-caption
                                .portfolio-caption-heading Rocket League
                                .portfolio-caption-subheading.text-muted Rocket League Internship at Psyonix
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio Dragon Engine
                        .portfolio-item.animate__animated.animate__slow.animate__fadeIn
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolio-modal-dragonengine')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-link.fa-3x
                                img.img-fluid(src='assets/img/portfolio/dragon-engine.png', alt='Dragon Engine')
                            .portfolio-caption
                                .portfolio-caption-heading Dragon Engine
                                .portfolio-caption-subheading.text-muted A homebrew C++ 17 Engine

        // About
        section#about-me.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase About Me
                    h3.section-subheading.text-muted From Self Taught Programmer to Educated Software Engineer.
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/application-development.png', alt='...')
                        .timeline-panel(data-animate="fadeInLeft slow")
                            .timeline-heading
                                h4 2014-2016
                                h4.subheading The First Degree
                            .timeline-body
                                p.text-muted
                                    | At ROC van Flevoland I studied Application Development.
                                    | Using HTML, CSS, JS, PHP, MySQL, Java, C#.
                                    | I learned to create Web, Desktop and Mobile Applications.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/games.jpg', alt='...')
                        .timeline-panel(data-animate="fadeInRight slow")
                            .timeline-heading
                                h4 2017-2021
                                h4.subheading An Opportunity in America
                            .timeline-body
                                p.text-muted
                                    | I left my home country to follow my dreams and study Game Programming at the Academy of Art University.
                                    | Which is taught by industry professionals. I wrote my first Game Engine and learned more about what it takes to make a AAA game.
                                    | I was rewarded for my hard work by being given the opportunity to attend GDC 2018 in person.
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/portfolio/rl-intern.jpg', alt='Rocket League Internship')
                        .timeline-panel(data-animate="fadeInLeft slow")
                            .timeline-heading
                                h4 Summer 2021
                                h4.subheading Internship at Psyonix, Rocket League
                            .timeline-body
                                p.text-muted
                                    | I was given the opportunity to intern at Psyonix working on Rocket League.
                                    | The experience elevated my skills and I took an interest into Networked Game Play.
                                    | After the internship I was offered a full time position and continued my internship through the last semester of my degree at the Academy of Art University.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/rocket-league.jpg', alt='Rocket League')
                        .timeline-panel(data-animate="fadeInRight slow")
                            .timeline-heading
                                h4 January 2022
                                h4.subheading Transition to Full Time
                            .timeline-body
                                p.text-muted
                                    | Having accepted the offer Gameplay Engineer position at Psyonix, I will soon be moving to San Diego, CA.
                                    | To continue on growing and developing new skills.
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | Be Part
                                br
                                | Of My
                                br
                                | Story!

        // Clients
        //- div.py-5
            .container
                .row.align-items-center
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/microsoft.svg', alt='...')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/google.svg', alt='...')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/facebook.svg', alt='...')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/ibm.svg', alt='...')

        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    //-.col-lg-4.text-lg-start
                        | Copyright &copy; Your Website 2021
                    .col-lg-4.my-3.my-lg-0.text-lg-start
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.linkedin.com/in/dylan-wijnen/')
                            i.fab.fa-linkedin-in
                        a.btn.btn-dark.btn-social.mx-2(href='https://discord.com/users/213392883862994944')
                            i.fab.fa-discord
                        a.btn.btn-dark.btn-social.mx-2(href='https://github.com/dylanwijnen1')
                            i.fab.fa-github
                        a.btn.btn-dark.btn-social.mx-2(href='mailto:dylan.wijnen1@gmail.com')
                            i.fas.fa-envelope
                    //-.col-lg-4.text-lg-end
                        a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
                        a.link-dark.text-decoration-none(href='#!') Terms of Use

        // Portfolio Modals
        include includes/portfolio-modal-rocketleague
        include includes/portfolio-modal-dragonengine

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
