//
// Colors
//

// Override Bootstrap theme colors variables
$primary: #ff2020;
$dark: #1c1e1f;
$darker: #181a1b;

// Override Bootstrap body colors

$body-color: #d1cdc7;
$body-bg: $darker;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;